@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start; /* Aligns content to the top */
    padding-top: 20px; /* Adds some space at the top */
    background-color: #f0f0f0; /* Light grey background */
    height: auto; /* Adjust height to auto instead of 100vh */
    min-height: 100vh; /* Ensure it's at least as tall as the viewport */
}

#palooka-app {
    width: 80%; /* Adjusts width to give more space for topics */
    max-width: 600px; /* Maximum width of the app container */
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff; /* White background for the app */
    margin: 0 auto; /* Centers the app horizontally */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Subtle shadow for depth */
}

/* Styles for the topic input containers */
.topicInput {
    margin-bottom: 15px; /* More space between topics */
    position: relative;
}

/* Styles for the input fields, slightly smaller than the previous size */
.topicInput input[type="text"],
.topicInput input[type="number"] {
    width: calc(100% - 24px); /* Full width minus padding */
    padding: 10px; /* Slightly smaller padding for the input fields */
    margin: 0; /* Reset margin */
    border: 2px solid #ccc; /* Thicker border */
    border-radius: 4px;
    font-family: 'Anton', sans-serif;
    font-size: 1.15rem; /* Slightly smaller font size */
    box-sizing: border-box;
}

/* Styles for the active topic with white text on red background */
.topicInput.activeTopic input[type="text"],
.topicInput.activeTopic input[type="number"] {
    background-color: red; /* Red background */
    color: white; /* White text */
    border-color: red; /* Red border */
}

/* Styles for the timer display, making it larger */
#timerDisplay {
    font-size: 3rem; /* Larger font size for the timer */
    font-family: 'Anton', sans-serif;
    margin-bottom: 30px; /* More space between timer and topics */
    color: #333; /* Darker text for better contrast */
}

/* Button styles */
button {
    padding: 12px 25px; /* Slightly smaller padding for the buttons */
    border: none;
    background-color: #4285F4; /* Google's brand color blue */
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.25rem; /* Slightly smaller font size for text on buttons */
    font-family: 'Anton', sans-serif;
    margin: 5px; /* Space between buttons */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

button:hover {
    background-color: #357ae8; /* Darker blue on hover */
}
