@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#video-meeting {
    width: 100%;
    height: 50%;
}

#palooka-app {
    width: 100%;
    height: 50%;
    padding: 20px;
    overflow-y: auto;
}

#topicsForm {
    margin-bottom: 20px;
}

.topicInput {
    background-color: red;
    color: white;
    padding: 5px;
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
}

.topicInput input[type="text"],
.topicInput input[type="number"] {
    color: white;
    background: transparent;
    border: 1px solid white;
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    padding: 5px;
}

.topicInput input[name="topicDuration[]"] {
    width: 60px;
}

.activeTopic {
    background-color: yellow;
    color: black;
}

#addTopic {
    margin-right: 5px;
}

#timerDisplay {
    font-family: 'Anton', sans-serif;
    font-size: 48px;
    text-align: center;
}

#shareSession {
    display: none;
    margin-top: 20px;
}
